//
// Code (inline and block)
// --------------------------------------------------


// For semantic kbd elements that do not need to look like code
.kbd-semantic {
  background: inherit;
  color: inherit;
  box-shadow: none;
}
