<div class="list-group list-view-pf list-view-pf-view">
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight1" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-plane list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event One
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight2" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-magic list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event Two
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight3" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-gamepad list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event Three
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight4" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-linux list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event Four
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight5" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-briefcase list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event Five
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="list-view-pf-checkbox">
      <input type="checkbox">
    </div>
    <div class="list-view-pf-actions">
      <button class="btn btn-default">Action</button>
      {% include widgets/kebab.html dropmenuType="dropdown" dropmenuPosition="pull-right" dropmenuId="dropdownKebabRight6" dropdownPosition="dropdown-menu-right" dropmenuVariation="dropdown-kebab-pf" %}
    </div>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="fa fa-coffee list-view-pf-icon-sm"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            Event Six
          </div>
          <div class="list-group-item-text">
            The following snippet of text is <a href="#">rendered as link text</a>.
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-screen"></span>
              <strong>8</strong> Hosts
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-cluster"></span>
              <strong>6</strong> Clusters
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-container-node"></span>
              <strong>10</strong> Nodes
            </div>
          </div>
          <div class="list-view-pf-additional-info-item">
            <div class="list-view-pf-expand">
              <span class="fa fa-angle-right"></span>
              <span class="pficon pficon-image"></span>
              <strong>8</strong> Images
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Host 1</li>
            <li>Host 2</li>
            <li>Host 3</li>
            <li>Host 4</li>
            <li>Host 5</li>
            <li>Host 6</li>
            <li>Host 7</li>
            <li>Host 8</li>
            <li>Host 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Host Name</dt>
            <dd>file1.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Cluster 1</li>
            <li>Cluster 2</li>
            <li>Cluster 3</li>
            <li>Cluster 4</li>
            <li>Cluster 5</li>
            <li>Cluster 6</li>
            <li>Cluster 7</li>
            <li>Cluster 8</li>
            <li>Cluster 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Cluster Name</dt>
            <dd>file2.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Nodes 1</li>
            <li>Nodes 2</li>
            <li>Nodes 3</li>
            <li>Nodes 4</li>
            <li>Nodes 5</li>
            <li>Nodes 6</li>
            <li>Nodes 7</li>
            <li>Nodes 8</li>
            <li>Nodes 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Node Name</dt>
            <dd>file3.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    <div class="list-group-item-container container-fluid hidden">
      <div class="close">
        <span class="pficon pficon-close"></span>
      </div>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>Image 1</li>
            <li>Image 2</li>
            <li>Image 3</li>
            <li>Image 4</li>
            <li>Image 5</li>
            <li>Image 6</li>
            <li>Image 7</li>
            <li>Image 8</li>
            <li>Image 9</li>
          </ul>
        </div>
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>Image Name</dt>
            <dd>file4.nay.redhat.com</dd>
            <dt>Device Path</dt>
            <dd>/dev/disk/pci-0000.05:00-sas-0.2-part1</dd>
            <dt>Time</dt>
            <dd>January 15, 2016 10:45:11 AM</dd>
            <dt>Severity</dt>
            <dd>Warning</dd>
            <dt>Cluster</dt>
            <dd>Cluster 1</dd>
          </dl>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  function addCheckboxClickHandler(input) {
    var rowItem = input.parentNode;
    while (rowItem && !hasClass(rowItem, 'list-group-item')) {
      rowItem = rowItem.parentNode;
    }

    if (rowItem) {
      input.addEventListener('click', function () {
        if (hasClass(rowItem, 'active')) {
          rowItem.classList.remove('active');
        }
        else {
          rowItem.classList.add('active');
        }
      });
    }
  }

  function showExpansion(header, button, container) {
    button.getElementsByClassName("fa-angle-right")[0].classList.add("fa-angle-down");
    container.classList.remove("hidden");
    header.classList.add("list-view-pf-expand-active");
  }

  function hideExpansion(header, button, container) {
    button.getElementsByClassName("fa-angle-right")[0].classList.remove("fa-angle-down");
    container.classList.add("hidden");
    header.classList.remove("list-view-pf-expand-active");
  }

  function toggleExpansion(header, index, buttons, containers) {
    if (buttons[index] && containers[index]) {
      if (hasClass(buttons[index].getElementsByClassName("fa-angle-right")[0], "fa-angle-down")) {
        // just close this container
        hideExpansion(header, buttons[index], containers[index]);
      } else {
        // Close all
        for (var i=0; i < buttons.length; i++) {
          hideExpansion(header, buttons[i], containers[i]);
        }

        // Show the desired expansion
        showExpansion(header, buttons[index], containers[index]);
      }
    }
  }

  function handleExpander(header, index, expandButtons, expandContainers) {
    expandButtons[index].addEventListener('click', function () {
      toggleExpansion(header, index, expandButtons, expandContainers);
    }, false);
  }

  function handleClose(header, index, expandButtons, expandContainers) {
    var closeButton = expandContainers[index].getElementsByClassName("pficon-close")[0];
    if (closeButton) {
      closeButton.addEventListener('click', function() {
        hideExpansion(header, expandButtons[index], expandContainers[index]);
      }, false);

    }
  }

  function handleExpansionEvents(header) {
    var expandButtons = header.getElementsByClassName('list-view-pf-expand');
    var expandContainers = header.getElementsByClassName("list-group-item-container");

    for (var i = 0; i < expandButtons.length; i++) {
      handleExpander(header, i, expandButtons, expandContainers);
      handleClose(header, i, expandButtons, expandContainers);
    }
  }

  var onLoad = function() {
    var inputs = document.getElementsByTagName('input');

    for(var i = 0; i < inputs.length; i++) {
      if(inputs[i].type.toLowerCase() === 'checkbox') {
        addCheckboxClickHandler(inputs[i]);
      }
    }

    var headers = document.getElementsByClassName('list-group-item');
    for(i = 0; i < headers.length; i++) {
      handleExpansionEvents(headers[i]);
    }
  };

  window.addEventListener('load', onLoad, false);
</script>
