{% include widgets/layouts/navbar-vertical.html %}
<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus {% if page.nav-badges %}nav-pf-vertical-with-badges{% endif %}">
  <ul class="list-group">
    <li class="list-group-item">
      <a>
        <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>
    <li class="list-group-item">
      <a>
        <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
        <span class="list-group-item-value">Dolor</span>
        {% if page.nav-badges %}
        <div class="badge-container-pf">
          <span class="badge">1283</span>
        </div>
        {% endif %}
      </a>
    </li>
    <li class="list-group-item active" data-target="#ipsum-secondary">
      <a>
        <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Ipsum"></span>
        <span class="list-group-item-value">Ipsum</span>
      </a>
    </li>
    <li class="list-group-item" data-target="#amet-secondary">
      <a>
        <span class="fa fa-paper-plane" data-toggle="tooltip" title="Amet"></span>
        <span class="list-group-item-value">Amet</span>
        {% if page.nav-badges %}
        <div class="badge-container-pf">
          <span class="badge">14</span>
        </div>
        {% endif %}
      </a>
    </li>
    <li class="list-group-item">
      <a>
        <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Adipscing"></span>
        <span class="list-group-item-value">Adipscing</span>
      </a>
    </li>
    <li class="list-group-item">
      <a>
        <span class="fa fa-gamepad" data-toggle="tooltip" title="Lorem"></span>
        <span class="list-group-item-value">Lorem</span>
      </a>
    </li>

    <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
      <a>
        <span class="pficon pficon-user" data-toggle="tooltip" title="" data-original-title="User"></span>
        <span class="list-group-item-value">User</span>
      </a>
      <div id="user-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>User</span>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            <a>
              <span class="list-group-item-value">Preferences</span>
            </a>
          </li>

          <li class="list-group-item">
            <a>
              <span class="list-group-item-value">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
      <a>
        <span class="pficon pficon-help" data-toggle="tooltip" title="" data-original-title="Amet"></span>
        <span class="list-group-item-value">Help</span>
      </a>
      <div id="help-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Help</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <a>
              <span class="list-group-item-value">Help</span>
            </a>
          </li>
          <li class="list-group-item">
            <a>
              <span class="list-group-item-value">About</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

  </ul>

</div>
<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical
     {% if page.persistent-secondary %}nav-pf-persistent-secondary{% endif %}
     {% if page.nav-badges %}nav-pf-vertical-with-badges{% endif %}
     {% if page.hide-icons == true %}hidden-icons-pf{% endif %}">
  <div class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o"></span>
    These examples are included for development testing purposes.
    <p></p>
    <p></p>
    JQuery dependent components, while styled by Patternfly, are available for view only with functionality reduced in the Patternfly repository.
    To view the fully functional components, please visit <a href="https://rawgit.com/patternfly/patternfly-jquery/master-dist/dits/tests/index.html" class="alert-link">Patternfly JQuery Test Pages</a>

    or specifically <a href="https://rawgit.com/patternfly/patternfly-jquery/master-dist/dist/tests/vertical-navigation-with-secondary.html" class="alert-link">Vertical Navigation</a>.

    <p></p>
    <p>
      For official documentation, see  <a href="https://patternfly.org" class="alert-link">https://patternfly.org</a>
      and <a href="http://getbootstrap.com" class="alert-link">http://getbootstrap.com</a>.
    </p>
  </div>
{% include widgets/layouts/cards-alt.html %}
</div>
