{% assign launchericons = include.icons %}
{% if page.notification-drawer %}
  {% include widgets/layouts/nav-vertical-notification-drawer.html icons=launchericons %}
{% else %}
  {% include widgets/layouts/navbar-vertical.html notification-drawer=true icons=launchericons %}
{% endif %}

{% include widgets/navigation/vertical-navigation-menus.html %}

<div class="container-fluid container-pf-nav-pf-vertical hide-nav-pf
     {% if page.sidebar %}container-pf-sidebar{% endif %}
     {% if page.persistent-secondary %}nav-pf-persistent-secondary{% endif %}
     {% if page.nav-badges %}nav-pf-vertical-with-badges{% endif %}
     {% if page.hide-icons == true %}hidden-icons-pf{% endif %}">
  <div class="container-cards-pf {% if page.sidebar %}container-right-pf{% endif %}">
    {% include widgets/layouts/cards-alt.html %}
  </div>
  {% if page.sidebar %}
  <div class="sidebar-pf sidebar-pf-left container-fluid">
    {% include widgets/navigation/sidebar.html %}
  </div>
  {% endif %}
</div>
<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>
