.container-pf-scroll-body {
  background: @container-nav-pf-vertical-alt-colored-bg;
  overflow: hidden;
}

.container-pf-scroll {
  height: @container-nav-pf-vertical-alt-height-calc;
  overflow: auto;
  .container-pf-sticky-footer  > & {
    height: @container-nav-pf-vertical-alt-with-footer-height-calc;
  }
}

.container-pf-scroll-content-area {
  padding: 20px 0;
}

.container-pf-nav-pf-vertical-alt {
  margin-left: (@nav-pf-vertical-alt-width + 5px);
  transition: @flyout-transition-pf;
  &.collapsed-nav {
    margin-left: (@nav-pf-vertical-alt-collapsed-width + 5px);
  }
  &.hidden-nav {
    margin-left: 5px;
  }
}

.footer-pf-alt {
  background-color: @footer-pf-alt-bg-color;
  bottom: 0;
  color: @gray-light;
  font-size: @font-size-base - 1;
  line-height: @footer-pf-alt-line-height;
  padding: 0 20px;
  position: absolute;
  width: 100%;

  p {
    margin: 0;
  }
}


