.navbar-pf-header {
  background: @navbar-pf-header-bg-color url('../img/nav-header-banner.svg') top left no-repeat;
  border: none;
  border-radius: 0px;
  border-top: 2px solid @navbar-pf-border-color;
  height: @navbar-pf-header-height;
  margin-bottom: 0px;
  padding-top: 3px;

  .infotip.bottom-right .arrow {
    left: 90%;
  }
  
  .nav {
    padding-top: 2px;

  	.action {
      padding-left: 20px;
      position: relative;

	    .caret, .fa, .pf-icon {
  	    color: @navbar-pf-header-color;
        font-size: 18px;
  	  }

      .caret {
        bottom: 18px;
        position: absolute;
        right: 0px;
      }

  	  .pf-icon {
  	  	font-size: 15px;
  	  }
   
      &:hover{
        background-color: transparent;

        .caret, .fa, .pf-icon {
      	  color: @navbar-pf-header-active-color;
  	    }
      }

      &:focus{
        background: transparent;

        .caret, .fa {
      	  color: @navbar-pf-header-active-color;
  	    }
      }

      .dropdown-menu {
        color: @gray-dark;
        font-size: @font-size-base;
        margin-top: -5px;
        z-index: 2000;
      }
      
      .notification-icon-count {
        background-color: @notification-badge-color;
        border-radius: 50%;
        color: @navbar-pf-header-active-color;
        cursor: pointer;
        font-size: 9px;
        font-weight: 700;
        height: 15px;
        line-height: 15px;
        padding-left: 0px;
        position: absolute;
        right: 10px;
        bottom: 8px;
        text-align: center;
        width: 15px;    
      }

    }

    .open > a.action {
      &, &:hover, &:focus {
        background: transparent;

        .caret, .fa, .pf-icon {
          color: @navbar-pf-header-active-color;
        }
      }
    }
  }

  .navbar-brand {
    line-height: @navbar-pf-header-brand-line-height;
    padding: 8px 20px 15px 0px;

    .navbar-brand-name {
      display: inline;
      height: @navbar-pf-header-brand-name-height;
    }

    .navbar-brand-icon {
      display: inline;
      height: @navbar-pf-header-brand-icon-height;
      margin-right: 15px;
    }
  }

  //This logo is too long. Need to hide it
  @media (max-width: 460px) {
    .navbar-brand .navbar-brand-name{
      display: none;
    }
  }

  .navbar-right {
    margin-right: 0px;
  }

  .navbar-toggle {
  	float: left;
  	margin-left: 14px;
  	margin-right: 20px;
    display: block;

  	.icon-bar {
  		background: @navbar-pf-header-color;
  	}
  }

}