# Ignore Sublime files
*.sublime-workspace
*.sublime-project

# Ignore vim files
*.swp
*.swn
*.swo

# Ignore Bower installed libraries
components/

# Ignore local nodejs packages
node_modules/

# Ignore nodejs files
*.man
nodevars.bat
npm.cmd
npm
