---
categories: [Widgets]
layout: page
title: Blank Slate
resource: true
---

<h2>Blank Slate</h2>
<div class="blank-slate-pf">
  <h1>Empty State Title</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p>Learn more about this <a href="#">in the documentation</a>.</p>
  <div class="blank-slate-pf-main-action">
    <button class="btn btn-primary btn-lg">
      Main Action
    </button>
  </div>
</div>
<hr>
<h2>Blank Slate with icon and secondary actions</h2>
{% include widgets/communication/blank-slate.html %}
<hr>
<h2>Blank Slate with multiple secondary action buttons</h2>
{% include widgets/communication/blank-slate-multiple-secondary-action-buttons.html %}
<hr>
<h2>Blank Slate with multiple secondary action links</h2>
{% include widgets/communication/blank-slate-multiple-secondary-action-links.html %}
<h2>Blank Slate - Content variation</h2>
{% include widgets/communication/blank-slate.html extraClass="blank-slate-content-pf"%}
