---
categories: [Widgets]
layout: page
title: Card View - Card Variations
resource: true
---

<h2>Large Card</h2>
<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html %}
    </div>
  </div>
</div>
<h2>Small Card</h2>
<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
  {% include widgets/cards/object-status.html %}
    </div>
  </div><!-- /row -->
</div>
<h2>Mini Card with status</h2>
<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-3 col-md-2">
  {% include widgets/cards/status-inline-actions-xs.html %}
    </div>
  </div><!-- /row -->
</div>
<h2>Mini Card with text</h2>
<div class="cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-3 col-md-2">
  {% include widgets/cards/summary-inline-actions-xs.html %}
    </div>
  </div>
</div>
