---
categories: [Widgets]
layout: page
title: Message Dialogs
resource: true
---
{% include widgets/communication/message-dialog-non-destructive-action.html messageDialogId="message-dialog-1" %}
{% include widgets/communication/message-dialog-error.html messageDialogId="message-dialog-2" %}
{% include widgets/communication/message-dialog-delete-confirmation.html messageDialogId="message-dialog-3" %}
{% include widgets/communication/message-dialog-warning.html messageDialogId="message-dialog-4" %}
{% include widgets/communication/message-dialog-question.html messageDialogId="message-dialog-5" %}
{% include widgets/communication/message-dialog.html messageDialogId="message-dialog-6" %}
{% include widgets/communication/message-dialog-success.html messageDialogId="message-dialog-7" %}
