---
categories: [Widgets]
layout: page
title: Toast Notifications
resource: true
---
      <div class="toast-pf alert alert-success">
        <div class="pull-right toast-pf-action">
          <a href="#">Start Server</a>
        </div>
        <span class="pficon pficon-ok"></span>
        <strong>server</strong> has been added to <a href="#" class="alert-link">main server</a>.
      </div>
      <br>
      <div class="toast-pf alert alert-warning">
        <div class="pull-right toast-pf-action">
          <a href="#">Reload Server</a>
        </div>
        <span class="pficon pficon-warning-triangle-o"></span>
        The server configuration changed.
      </div>
      <br>
      <div class="toast-pf alert alert-danger">
        <div class="pull-right toast-pf-action">
          <a href="#">Retry</a>
        </div>
        <span class="pficon pficon-error-circle-o"></span>
        Failed to add <strong>server_abc</strong>.
      </div>
      <br>
      <div class="toast-pf alert alert-info">
        <div class="pull-right toast-pf-action">
          <a href="#">View Details</a>
        </div>
        <span class="pficon pficon-info"></span>
        This server is in the North West Datacenter.
      </div>
      <hr>
{% include widgets/communication/toast-info.html %}
      <br>
{% include widgets/communication/toast-success.html %}
      <br>
{% include widgets/communication/toast-warning.html %}
      <br>
{% include widgets/communication/toast-danger.html %}
      <hr>
{% include widgets/communication/toast-max-width.html %}
