---
categories: [Widgets]
layout: page
title: Toolbar
resource: true
tableview: true
---
      <h2>Toolbar with Horizontal Navigation</h2>
{% include widgets/layouts/navbar-primary.html %}
{% include widgets/layouts/toolbar.html %}
    <script>
      function toggleFindContainer() {
        var findContainer = document.getElementsByClassName('find-pf-dropdown-container');
        if (findContainer[0].style.display !== 'block') {
          findContainer[0].style.display = 'block';
        } else {
          findContainer[0].style.display = 'none';
        }
      }

      function hideFindContainer() {
        var findContainer = document.getElementsByClassName('find-pf-dropdown-container');
        findContainer[0].style.display = 'none';
      }

      function initFind() {
        var findButton = document.getElementsByClassName('btn-find');
        findButton[0].addEventListener('click', toggleFindContainer, false);

        var findCloseButton = document.getElementsByClassName('btn-find-close');
        findCloseButton[0].addEventListener('click', hideFindContainer, false);
      }

      window.addEventListener('load', initFind, false);
    </script>
