<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="height-100">
<!--<![endif]-->
  <head>
    <title>Sticky Header & Footer - PatternFly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../dist/img/favicon.ico">
    <!-- iPad retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../dist/img/apple-touch-icon-precomposed-152.png">
    <!-- iPad retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dist/img/apple-touch-icon-precomposed-144.png">
    <!-- iPad non-retina icon -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../dist/img/apple-touch-icon-precomposed-76.png">
    <!-- iPad non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../dist/img/apple-touch-icon-precomposed-72.png">
    <!-- iPhone 6 Plus icon -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../dist/img/apple-touch-icon-precomposed-180.png">
    <!-- iPhone retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../dist/img/apple-touch-icon-precomposed-114.png">
    <!-- iPhone non-retina icon (iOS < 7) -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../dist/img/apple-touch-icon-precomposed-57.png">
    <link href="../dist/css/patternfly.min.css" rel="stylesheet" media="screen, print">
    <link href="../dist/css/patternfly-additions.min.css" rel="stylesheet" media="screen, print">
    <script src="../components/jquery/dist/jquery.min.js"></script>
    <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../dist/js/patternfly.min.js"></script>
  </head>
  <body class="height-100">
<div class="container-fluid">
      <header class="navbar navbar-fixed-top navbar-header-pf" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavigation();">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand"><img class="appIcon" src="../dist/img/logo-mark.svg" alt=""/><img class="appName" src="../dist/img/brand.svg" alt="PatternFly Enterprise Application" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" target="_blank" class="action"><i title="Open" class="pf-icon pficon-export fa-rotate-270"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a class="dropdown-toggle action" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i title="Notifications" class="fa pficon-flag"><span class="notification-icon-count">2</span></i></a>
                <div class="dropdown-menu infotip bottom-right">
                  <div class="arrow"></div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="i pficon pficon-info"></span> Modified Datasources ExampleDS
                      </li>
                      <li class="list-group-item">
                        <span class="i pficon pficon-info"></span> Error: System Failure
                      </li>
                    </ul>
                    <div class="footer">
                      <a>Clear Messages</a>
                    </div>
                 </div>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle action" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i title="Help" class="fa fa-question-circle"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </li>
              <li class="dropdown">
                 <a class="dropdown-toggle action" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i title="Username" class="fa fa-user"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li class="action"><a href="#">Preferences</a></li>
                  <li class="action"><a href="#">Logout</a></li>
                </ul>
              </li>
              <li><a href="#" class="action"><i title="Search" class="fa fa-search"></i></a></li>
            </ul>
          </nav><!-- /.navbar-collapse -->
    </header> <!--/.navbar-->
</div><!-- /container -->

<div class="fixed-container-colored-bg">
  <div class="navigation navigation-left-pf">
  <div class="navigation-left-inner-pf">
    <a class="action-collapse fa fa-angle-double-left"></a>
    <div class="pf-navigation-primary">
      <aside class="list-group">
        <a href="#" class="list-group-item">
          <i class="fa fa-dashboard" title="Dashboard"></i>
          <span class="list-group-item-value">Dashboard</span>
        </a>
        <a href="#" class="list-group-item">
          <i class="fa fa-file-o" title="Services"></i>
          <span class="list-group-item-value">My Services</span>
          <span ng-if="item.count" class="count">12</span>
        </a>
        <a href="#" class="list-group-item">
          <i class="fa fa-file-text-o" title="My Requests"></i>
          <span class="list-group-item-value">My Requests</span>
          <span ng-if="item.count" class="count">2</span>
        </a>
        <a href="#" class="list-group-item isActive">
          <i class="fa fa-copy" title="My Items"></i>
          <span class="list-group-item-value">My Items</span>
        </a>
        <div class="list-group-item-secondary hidden-sm hidden-md hidden-lg">
          <a href="#" class="list-group-item">
            <i class="fa fa-question-circle" title="Help"></i>
            <span class="list-group-item-value">Help</span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-user" title="About Me"></i>
            <span class="list-group-item-value">About Me</span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-search" title="Search"></i>
            <span class="list-group-item-value">Search</span>
          </a>
        </div>
      </aside>
    </div>
  </div>
</div>
  <div class="container-fluid fixed-container-pf fixed-left-nav-pf">
    <div class="fixed-container-inner-pf">
      <!-- Inner Content Goes Here -->
      Content Goes here
    </div>
  </div>
</div>

<footer class="fixed-footer-pf">
  <p class="text-muted">Footer Content</p>
</footer>
  </body>
</html>