<div class="canvas-editor-container">
  <div class="canvas-editor-toolbar">
    <button class="btn btn-primary" type="button">
      Add Item 
      <span class="fa fa-angle-double-down"></span>
    </button>
    <span>
      <span class="more-actions ng-scope">
        <a class="disabled">
          <span class="pficon fa fa-copy"></span>
        </a>
        <a class="disabled">
          <span class="pficon pficon-delete"></span>
        </a>
      </span>
    </span>
    <span class="right-aligned-controls">
      <input type="checkbox">
      <span class="show-hide-connectors-label">Hide Connectors</span>
      <a id="zoomOut" class="disabled">
        <span class="pficon fa fa-minus"></span>
      </a>
      <a id="zoomIn" class="disabled">
        <span class="pficon fa fa-plus"></span>
      </a>
    </span>
  </div>
  <div class="canvas-editor-toolbox-container">
    <div class="canvas-container ui-droppable">
      <svg class="canvas draggable-container">
        <g transform="scale(1)">
          <g transform="translate(105, 67)">
            <g>
                <rect class="node-rect" ry="15" rx="15" x="0" y="0" width="290" height="450" fill="#fff" fill-opacity="1.0"></rect>
                <foreignobject x="0" y="24" width="290" height="42">
                    <div class="node-header" style="width: 290px;">
                        <p class="" style="width: 290px;">Dev</p>
                    </div>
                </foreignobject>
                <g>
                    <rect class="node-rect" x="20" y="66" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="91" text-anchor="middle" alignment-baseline="middle">Nuage</text>
                    <text class="node-label" x="165" y="116" text-anchor="middle" alignment-baseline="middle">OpenShift on Open Stack</text>
                    <image href="../../dist/img/OpenShift-logo.svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../dist/img/OpenShift-logo.svg" x="30" y="76" height="50" width="50"></image>
                </g>
                <g>
                    <rect class="node-rect" x="20" y="156" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="181" text-anchor="middle" alignment-baseline="middle">Allora</text>
                    <text class="node-label" x="165" y="206" text-anchor="middle" alignment-baseline="middle">OpenShift on AWS</text>
                    <image href="../../dist/img/aws.svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../dist/img/aws.svg" x="30" y="166" height="50" width="50"></image>
                </g>
                <g>
                    <rect class="node-rect" x="20" y="246" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="271" text-anchor="middle" alignment-baseline="middle">Insights</text>
                    <text class="node-label" x="165" y="296" text-anchor="middle" alignment-baseline="middle">Red Hat Insights</text>
                    <text x="30" y="301" style="font-family: fontawesome; font-size: 45px;"></text>
                </g>
            </g>
          </g>

          <g transform="translate(450, 67)">
            <g>
                <rect class="node-rect" ry="15" rx="15" x="0" y="0" width="290" height="450" fill="#fff" fill-opacity="1.0"></rect>
                <foreignobject x="0" y="24" width="290" height="42">
                    <div class="node-header" style="width: 290px;">
                        <p class="" style="width: 290px;">QA</p>
                    </div>
                </foreignobject>
                <g>
                    <rect class="node-rect" x="20" y="66" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="91" text-anchor="middle" alignment-baseline="middle">OpenShift</text>
                    <text class="node-label" x="165" y="116" text-anchor="middle" alignment-baseline="middle">OpenShift on Azure</text>
                    <image href="../../dist/img/azure.svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../dist/img/azure.svg" x="30" y="76" height="50" width="50"></image>
                </g>
                <g>
                    <rect class="node-rect" x="20" y="156" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="181" text-anchor="middle" alignment-baseline="middle">Kubernetes</text>
                    <text class="node-label" x="165" y="206" text-anchor="middle" alignment-baseline="middle">Kubernetes on OpenStack</text>
                    <image href="../../dist/img/kubernetes.svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../dist/img/kubernetes.svg" x="30" y="166" height="50" width="50"></image>
                </g>
                <g>
                    <rect class="node-rect" x="20" y="246" width="250" height="70"></rect>
                    <text class="node-header" x="165" y="271" text-anchor="middle" alignment-baseline="middle">Kibana</text>
                    <text class="node-label" x="165" y="296" text-anchor="middle" alignment-baseline="middle">Logging Service</text>
                    <foreignobject x="30" y="256" height="50" width="50"><i class="pf pficon-network" style="font-size: 45px;"></i>
                    </foreignobject>
                </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>