<div id="storage-secondary" class="nav-pf-persistent-secondary">
  <div class="persistent-secondary-header">
    <a class="secondary-collapse-toggle-pf" href="#" data-toggle="collapse-secondary-nav"></a>
    <span>Storage</span>
  </div>
  <h5>File</h5>
  <ul class="list-group">
    <li class="list-group-item active">
      <a href="#">
        <span class="list-group-item-value">Volumes</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-error-circle-o"></span>
            <span>1</span>
          </div>
          <div class="badge">
            <span class="pficon pficon-warning-triangle-o"></span>
            <span>3</span>
          </div>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Bricks</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-warning-triangle-o"></span>
            <span>3</span>
          </div>
          <span class="badge">12</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Quotas</span>
        <div class="badge-container-pf">
          <span class="badge">3</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Logical Volumes</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-error-circle-o"></span>
            <span>1</span>
          </div>
          <span class="badge">10</span>
        </div>
      </a>
    </li>
  </ul>
  <h5>Object</h5>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Pools</span>
        <div class="badge-container-pf">
          <span class="badge">10</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">OSDs</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-error-circle-o"></span>
            <span>1</span>
          </div>
          <div class="badge">
            <span class="pficon pficon-warning-triangle-o"></span>
            <span>3</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <h5>Block</h5>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">RBDs</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-warning-triangle-o"></span>
            <span>2</span>
          </div>
          <span class="badge">14</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Quotas</span>
        <div class="badge-container-pf">
          <span class="badge">0</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Snapshots</span>
        <div class="badge-container-pf">
          <div class="badge">
            <span class="pficon pficon-warning-triangle-o"></span>
            <span>3</span>
          </div>
          <span class="badge">9</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Storage Profiles</span>
        <div class="badge-container-pf">
          <span class="badge">7</span>
        </div>
      </a>
    </li>
  </ul>
</div>
