<div class="col-md-12">
  <div class="card-pf card-pf-utilization">
    <div class="card-pf-heading">
      <p class="card-pf-heading-details">Last 30 days</p>
      <h2 class="card-pf-title">
        Utilization
      </h2>
    </div>
    <div class="card-pf-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h3 class="card-pf-subtitle">CPU</h3>
          <p class="card-pf-utilization-details">
            <span class="card-pf-utilization-card-details-count">50</span>
            <span class="card-pf-utilization-card-details-description">
              <span class="card-pf-utilization-card-details-line-1">Available</span>
              <span class="card-pf-utilization-card-details-line-2">of 1000 MHz</span>
            </span>
          </p>
          <div id="{{ include.chart3 }}"></div>
          <div class="chart-pf-sparkline" id="{{ include.chart4 }}"></div>
          <script>
            var chart1 = c3.generate({
              bindto: '#{{ include.chart3 }}',
              type: "donut",
              donut: {
                title: "A",
                label: {show: false},
                width: 11
              },
              size: {
                height: 171, // produces a diameter of 150 and a centered chart
              },
              legend: {
                show: false
              },
              color: {
                pattern: ["#cc0000","#D1D1D1"]
              },
              tooltip: {
                contents: function (d) {
                  return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                          Math.round(d[0].ratio * 100) + '%' + ' MHz ' + d[0].name +
                          '</span>';
                }
              },
              data: {
                type: "donut",
                columns: [
                  ["Used", 95],
                  ["Available", 5]
                ],
                groups: [
                  ["used", "available"]
                ],
                order: null
              },
            });
            var donutChartTitle = d3.select("#{{ include.chart3 }}").select('text.c3-chart-arcs-title');
            donutChartTitle.text("");
            donutChartTitle.insert('tspan').text("950").classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
            donutChartTitle.insert('tspan').text("MHz Used").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
            var chart2 = c3.generate({
              axis: {
                x: {
                  show: false
                },
                y: {
                  show: false
                }
              },
              bindto: '#{{ include.chart4 }}',
              color: {
                pattern: ['#0088ce', '#00659c', '#3f9c35', '#ec7a08', '#cc0000']
              },
              data: {
                columns: [
                  ['Last 30 days', 10, 50, 28, 20, 31, 27, 60, 36, 52, 55, 62, 68, 69, 88, 74, 88, 95],
                ],
                type: 'area'
              },
              legend: {
                show: false
              },
              point: {
                r: 1,
                focus: {
                  expand: {
                    r: 4
                  }
                }
              },
              size: {
                height: 40
              },
              tooltip: {
                // because a sparkline should only contain a single data column, the tooltip will only work for a single data column
                contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                  for (i = 0; i < d.length; i++) {
                    return '<span class="c3-tooltip-sparkline">' + d[i].value + '%' + '</span>'
                  }
                }
              }
            });
          </script>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h3 class="card-pf-subtitle">Memory</h3>
          <p class="card-pf-utilization-details">
            <span class="card-pf-utilization-card-details-count">256</span>
            <span class="card-pf-utilization-card-details-description">
              <span class="card-pf-utilization-card-details-line-1">Available</span>
              <span class="card-pf-utilization-card-details-line-2">of 432 GB</span>
            </span>
          </p>
          <div id="{{ include.chart5}}"></div>
          <div class="chart-pf-sparkline" id="{{ include.chart6 }}"></div>
          <script>
            var chart3 = c3.generate({
              bindto: '#{{ include.chart5}}',
              type: "donut",
              donut: {
                title: "A",
                label: {show: false},
                width: 11
              },
              size: {
                height: 171, // produces a diameter of 150 and a centered chart
              },
              legend: {
                show: false
              },
              color: {
                pattern: ["#3f9c35","#D1D1D1"]
              },
              tooltip: {
                contents: function (d) {
                  return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                          Math.round(d[0].ratio * 100) + '%' + ' GB ' + d[0].name +
                          '</span>';
                }
              },
              data: {
                type: "donut",
                columns: [
                  ["Used", 41],
                  ["Available", 59]
                ],
                groups: [
                  ["used", "available"]
                ],
                order: null
              },
            });
            var donutChartTitle = d3.select("#{{ include.chart5}}").select('text.c3-chart-arcs-title');
            donutChartTitle.text("");
            donutChartTitle.insert('tspan').text("176").classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
            donutChartTitle.insert('tspan').text("GB Used").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
            var chart4 = c3.generate({
              axis: {
                x: {
                  show: false
                },
                y: {
                  show: false
                }
              },
              bindto: '#{{ include.chart6 }}',
              color: {
                pattern: ['#0088ce', '#00659c', '#3f9c35', '#ec7a08', '#cc0000']
              },
              data: {
                columns: [
                  ['Last 30 days', 35, 36, 20, 30, 31, 22, 44, 36, 40, 41, 55, 52, 48, 48, 50, 40, 41],
                ],
                type: 'area'
              },
              legend: {
                show: false
              },
              point: {
                r: 1,
                focus: {
                  expand: {
                    r: 4
                  }
                }
              },
              size: {
                height: 40
              },
              tooltip: {
                // because a sparkline should only contain a single data column, the tooltip will only work for a single data column
                contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                  for (i = 0; i < d.length; i++) {
                    return '<span class="c3-tooltip-sparkline">' + d[i].value + '%' + '</span>'
                  }
                }
              }
            });
          </script>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h3 class="card-pf-subtitle">Network</h3>
          <p class="card-pf-utilization-details">
            <span class="card-pf-utilization-card-details-count">200</span>
            <span class="card-pf-utilization-card-details-description">
              <span class="card-pf-utilization-card-details-line-1">Available</span>
              <span class="card-pf-utilization-card-details-line-2">of 1300 Gbps</span>
            </span>
          </p>
          <div id="{{ include.chart7 }}"></div>
          <div class="chart-pf-sparkline" id="{{ include.chart8 }}"></div>
          <script>
            var chart5 = c3.generate({
              bindto: '#{{ include.chart7 }}',
              type: "donut",
              donut: {
                title: "A",
                label: {show: false},
                width: 11
              },
              size: {
                height: 171, // produces a diameter of 150 and a centered chart
              },
              legend: {
                show: false
              },
              color: {
                pattern: ["#EC7A08","#D1D1D1"]
              },
              tooltip: {
                contents: function (d) {
                  return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                          Math.round(d[0].ratio * 100) + '%' + ' Gbps ' + d[0].name +
                          '</span>';
                }
              },
              data: {
                type: "donut",
                columns: [
                  ["Used", 85],
                  ["Available", 15]
                ],
                groups: [
                  ["used", "available"]
                ],
                order: null
              },
            });
            var donutChartTitle = d3.select("#{{ include.chart7 }}").select('text.c3-chart-arcs-title');
            donutChartTitle.text("");
            donutChartTitle.insert('tspan').text("1100").classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
            donutChartTitle.insert('tspan').text("Gpbs Used").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
            var chart6 = c3.generate({
              axis: {
                x: {
                  show: false
                },
                y: {
                  show: false
                }
              },
              bindto: '#{{ include.chart8 }}',
              color: {
                pattern: ['#0088ce', '#00659c', '#3f9c35', '#ec7a08', '#cc0000']
              },
              data: {
                columns: [
                  ['Last 30 days', 60, 55, 70, 44, 31, 67, 54, 46, 58, 75, 62, 68, 69, 88, 74, 88, 85],
                ],
                type: 'area'
              },
              legend: {
                show: false
              },
              point: {
                r: 1,
                focus: {
                  expand: {
                    r: 4
                  }
                }
              },
              size: {
                height: 40
              },
              tooltip: {
                // because a sparkline should only contain a single data column, the tooltip will only work for a single data column
                contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                  for (i = 0; i < d.length; i++) {
                    return '<span class="c3-tooltip-sparkline">' + d[i].value + '%' + '</span>'
                  }
                }
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
