<div class="{{ include.dropmenuType }} {{ include.dropmenuPosition }} {{ include.dropmenuVariation }}">
  <button class="btn btn-link dropdown-toggle" type="button" id="{{ include.dropmenuId }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="fa fa-ellipsis-v"></span>
  </button>
  <ul class="dropdown-menu {{ include.dropdownPosition }}" aria-labelledby="{{ include.dropmenuId }}">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
