<div id="admin-secondary" class="nav-pf-persistent-secondary">
  <div class="persistent-secondary-header">
    <a class="secondary-collapse-toggle-pf" href="#" data-toggle="collapse-secondary-nav"></a>
    <span>Admin</span>
  </div>
  <h5>User Administration</h5>
  <ul class="list-group">
    <li class="list-group-item active">
      <a href="#">
        <span class="list-group-item-value">Users</span>
        <div class="badge-container-pf">
          <span class="badge">10</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Groups</span>
        <div class="badge-container-pf">
          <span class="badge">3</span>
        </div>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Roles</span>
        <div class="badge-container-pf">
          <span class="badge">5</span>
        </div>
      </a>
    </li>
  </ul>
  <h5>Storage</h5>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Local Storage</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">History</span>
        <div class="badge-container-pf">
          <span class="badge">0</span>
        </div>
      </a>
    </li>
  </ul>

  <h5>Preferences</h5>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Appearance</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Notifications</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="list-group-item-value">Sound</span>
      </a>
    </li>
  </ul>
</div>
