{% include widgets/layouts/navbar-primary.html %}
{% include widgets/layouts/toolbar.html %}
<div class="container-fluid container-cards-pf" id="card-container">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-multi-select" %}
    </div>
  </div>
</div>
<script>
  function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  function addCheckboxClickHandler(input) {
    input.addEventListener('click', function () {
      if (hasClass(input.parentNode.parentNode, 'active')) {

        input.parentNode.parentNode.classList.remove('active');
      }
      else {
        input.parentNode.parentNode.classList.add('active');
      }
    });
  }

  var onLoad = function() {
    var inputs = document.getElementsByTagName('input');

    for(var i = 0; i < inputs.length; i++) {
      if(inputs[i].type.toLowerCase() === 'checkbox') {
        addCheckboxClickHandler(inputs[i]);
      }
    }
  };
  window.addEventListener('load', onLoad, false);

</script>
