{% include widgets/layouts/navbar-primary.html %}
{% include widgets/layouts/toolbar.html %}
<div class="container-fluid container-cards-pf">
  <div class="row row-cards-pf">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
{% include widgets/cards/object-status.html class1="card-pf-view-select card-pf-view-single-select" %}
    </div>
  </div>
</div>
<script>
  function hasClass(element, cls) {
    return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
  }

  function addClickHandler(card) {
    card.addEventListener('click', function () {
      var singleSelectCards = document.getElementsByClassName('card-pf-view-single-select');
      if (hasClass(card, 'active')) {
        card.classList.remove('active');
      } else {
        for (var i = 0; i < singleSelectCards.length; i++) {
          singleSelectCards[i].classList.remove('active');
        }
        card.classList.add('active');
      }
    });
  }

  var onLoad = function() {
    // Card Single Select
    var singleSelectCards = document.getElementsByClassName('card-pf-view-single-select');
    for (var i = 0; i < singleSelectCards.length; i++) {
      addClickHandler(singleSelectCards[i]);
    }
  };

  window.addEventListener('load', onLoad, false);
</script>
