---
categories: [Layouts]
css-extra: false
layout: layout
title: Basic
resource: true
full-page: true
url-js-extra: '//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js'
weight: 1
---
{% include widgets/layouts/navbar-primary.html %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li>{{ page.title }}</li>
          </ol>
          <h1>{{ page.title }}</h1>
{% include widgets/datatable.html %}
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget eros tincidunt, semper ante nec, dapibus ante.</p>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    <script>
      // Initialize Datatables
      $(document).ready( function() {
        $('.datatable').dataTable();
      });
    </script>
