---
categories: [Layouts]
css-extra: false
layout: fixed-layout
resource: true
title: Sticky Header & Footer
weight: 8
---
<div class="container-fluid">
  {% include layouts-navbar-small.html %}
</div><!-- /container -->

<div class="fixed-container-colored-bg">
  {% include navigation-left-hand.html %}
  <div class="container-fluid fixed-container-pf fixed-left-nav-pf">
    <div class="fixed-container-inner-pf">
      <!-- Inner Content Goes Here -->
      Content Goes here
    </div>
  </div>
</div>

{% include layouts-footer.html %}