{% include widgets/layouts/nav-vertical-notification-drawer.html %}
{% if page.hide-icons %}
<div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav hidden-icons-pf">
{% else %}
  <div class="nav-pf-vertical nav-pf-vertical-with-secondary-nav">
{% endif %}
  <ul class="list-group">
    <li class="list-group-item active">
      <a href="#">
        <span class="fa fa-dashboard"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="pficon pficon-cluster"></span>
        <span class="list-group-item-value">Clusters</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="pficon pficon-screen"></span>
        <span class="list-group-item-value">Hosts</span>
      </a>
    </li>
    <li class="list-group-item persistent-secondary" data-target="#storage-secondary">
      <a href="#">
        <span class="pficon pficon-container-node"></span>
        <span class="list-group-item-value">Storage</span>
      </a>
{% include widgets/secondary-nav-storage.html %}
    </li>
    <li class="list-group-item persistent-secondary" data-target="#admin-secondary">
      <a href="#">
        <span class="fa fa-cog"></span>
        <span class="list-group-item-value">Admin</span>
      </a>
{% include widgets/secondary-nav-admin.html %}
    </li>
  </ul>
</div>
