<button class="btn btn-default" data-toggle="modal" data-target="#{{ include.messageDialogId }}">Non Destructive Action Dialog</button>
<div class="modal fade" id="{{ include.messageDialogId }}" tabindex="-1" role="dialog" aria-labelledby="myNonDestructiveDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myNonDestructiveDialogLabel">Modal Title Here</h4>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="autofocusNondestructive">Action</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#{{include.messageDialogId}}').on('shown.bs.modal', function() {
    $('#autofocusNondestructive').focus();
  });
});
</script>
