<button class="btn btn-default wizard-pf-open wizard-pf-complete" data-target="#{{include.id}}">Launch wizard</button>
<div class="modal" id="{{include.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg wizard-pf">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title">Wizard Title</h4>
      </div>
      <div class="modal-body wizard-pf-body clearfix">
        {% include widgets/communication/wizard-steps.html %}

        <div class="wizard-pf-row">
          {% include widgets/communication/wizard-sidebar.html %}

          <div class="wizard-pf-main">
            {% include widgets/communication/wizard-loading.html %}
            {% include widgets/communication/wizard-pages.html %}
          </div><!-- /.wizard-pf-main -->
        </div>

      </div><!-- /.wizard-pf-body -->

      <div class="modal-footer wizard-pf-footer">
        <button id="wizard-pf-dismiss" type="button" class="btn btn-default btn-cancel">
          Cancel
        </button>
        <button id='wizard-pf-back' type="button" class="btn btn-default disabled">
          <span class="i fa fa-angle-left"></span>
          Back
        </button>
        <button id="wizard-pf-next" type="button" class="btn btn-primary disabled">
          Next
          <span class="i fa fa-angle-right"></span>
        </button>
        <button id="wizard-pf-finish" type="button" class="btn btn-primary hidden">
          Deploy
          <span class="i fa fa-angle-right"></span>
        </button>
        <button id="wizard-pf-close" type="button" class="btn btn-primary hidden" data-dismiss="modal">
          Close
        </button>
      </div><!-- /.wizard-pf-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include widgets/communication/wizard-controller.html %}
