<div class="wizard-pf-steps hidden">
  <ul class="wizard-pf-steps-indicator wizard-pf-steps-alt-indicator active">
    <li class="wizard-pf-step active">
      <a href="#"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">First Step</span>
        <span class="wizard-pf-step-title-substep active">details</span>
        <span class="wizard-pf-step-title-substep">Settings</span>
      </a>
    </li>
    <li class="wizard-pf-step">
      <a href="#">
        <span class="wizard-pf-step-number">2</span>
        <span class="wizard-pf-step-title">Second Step</span>
        <span class="wizard-pf-step-title-substep">details</span>
        <span class="wizard-pf-step-title-substep">settings</span>
      </a>
    </li>

    <li class="wizard-pf-step">
      <a href="#">
        <span class="wizard-pf-step-number">3</span>
        <span class="wizard-pf-step-title">Review</span>
        <span class="wizard-pf-step-title-substep">summary</span>
        <span class="wizard-pf-step-title-substep">progress</span>
      </a>
    </li>
  </ul>
  <ul class="wizard-pf-steps-alt">
    <li class="wizard-pf-step-alt viewed">
      <a href="#">
        <span class="wizard-pf-step-alt-number">1</span>
        <span class="wizard-pf-step-alt-title">First Step</span>
      </a>
      <ul>
        <li class="wizard-pf-step-alt-substep active"><a href="">1A. Details</a></li>
        <li class="wizard-pf-step-alt-substep disabled"><a href="#">1B. Settings</a></li>
      </ul>
    </li>
    <li class="wizard-pf-step-alt">
      <a href="#">
        <span class="wizard-pf-step-alt-number">2</span>
        <span class="wizard-pf-step-alt-title">Second Step</span>
      </a>
      <ul class="hidden">
        <li class="wizard-pf-step-alt-substep disabled"><a href="#">2A. Details</a></li>
        <li class="wizard-pf-step-alt-substep disabled"><a href="#">2B. Settings</a></li>
      </ul>
    </li>
    <li class="wizard-pf-step-alt">
      <a  href="#">
        <span class="wizard-pf-step-alt-number">3</span>
        <span class="wizard-pf-step-alt-title">Review</span>
      </a>
      <ul class="hidden">
        <li class="wizard-pf-step-alt-substep disabled"><a href="#">3A. Summary</a></li>
        <li class="wizard-pf-step-alt-substep disabled"><a href="#">3B. Progress</a></li>
      </ul>
    </li>
  </ul>
</div>
