<div class="nav-pf-vertical-alt">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#">
        <span class="fa fa-dashboard" title="Dashboard" data-toggle="tooltip" data-placement="right"></span>
        <span class="list-group-item-value">Dashboard</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="fa fa-file-o" title="My Services" data-toggle="tooltip" data-placement="right"></span>
        <span class="list-group-item-value">My Services</span>
        <span class="badge">12</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <span class="fa fa-file-text-o" title="My Requests" data-toggle="tooltip" data-placement="right"></span>
        <span class="list-group-item-value">My Requests</span>
        <span class="badge">2</span>
      </a>
    </li>
    <li class="list-group-item active">
      <a href="#">
        <span class="fa fa-copy" title="My Items" data-toggle="tooltip" data-placement="right"></span>
        <span class="list-group-item-value">My Items</span>
      </a>
    </li>
    <div class="list-group-item-secondary hidden-sm hidden-md hidden-lg">
      <li class="list-group-item">
        <a href="#">
          <span class="fa pf-icon pficon-export fa-rotate-270" title="Launch"></span>
          <span class="list-group-item-value">Launch</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <span class="fa pficon-flag" title="Notifications"></span>
          <span class="list-group-item-value">Notifications</span>
          <span class="badge notifications">2</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <span class="fa pficon-help" title="Help"></span>
          <span class="list-group-item-value">Help</span>
        </a>
      </li>
       <li class="list-group-item">
        <a href="#">
          <span class="fa fa-info-circle" title="About"></span>
          <span class="list-group-item-value">About</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <span class="fa pficon-user" title="Preferences"></span>
          <span class="list-group-item-value">Preferences</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <span class="fa fa-sign-out" title="Log Out"></span>
          <span class="list-group-item-value">Log Out</span>
        </a>
      </li>
    </div>
  </ul>
</div>