<div class="navigation navigation-left-pf">
  <div class="navigation-left-inner-pf">
    <a class="action-collapse fa fa-angle-double-left"></a>
    <div class="pf-navigation-primary">
      <aside class="list-group">
        <a href="#" class="list-group-item">
          <i class="fa fa-dashboard" title="Dashboard"></i>
          <span class="list-group-item-value">Dashboard</span>
        </a>
        <a href="#" class="list-group-item">
          <i class="fa fa-file-o" title="Services"></i>
          <span class="list-group-item-value">My Services</span>
          <span ng-if="item.count" class="count">12</span>
        </a>
        <a href="#" class="list-group-item">
          <i class="fa fa-file-text-o" title="My Requests"></i>
          <span class="list-group-item-value">My Requests</span>
          <span ng-if="item.count" class="count">2</span>
        </a>
        <a href="#" class="list-group-item isActive">
          <i class="fa fa-copy" title="My Items"></i>
          <span class="list-group-item-value">My Items</span>
        </a>
        <div class="list-group-item-secondary hidden-sm hidden-md hidden-lg">
          <a href="#" class="list-group-item">
            <i class="fa fa-question-circle" title="Help"></i>
            <span class="list-group-item-value">Help</span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-user" title="About Me"></i>
            <span class="list-group-item-value">About Me</span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-search" title="Search"></i>
            <span class="list-group-item-value">Search</span>
          </a>
        </div>
      </aside>
    </div>
  </div>
</div>