<div class="navigation navigation-left-pf">
  <a class="action-collapse fa fa-angle-double-left"></a>
  <div class="navigation-primary-pf">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#">
          <i class="fa fa-dashboard" title="Dashboard"></i>
          <span class="list-group-item-value">Dashboard</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <i class="fa fa-file-o" title="Services"></i>
          <span class="list-group-item-value">My Services</span>
          <span ng-if="item.count" class="badge">12</span>
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <i class="fa fa-file-text-o" title="My Requests"></i>
          <span class="list-group-item-value">My Requests</span>
          <span ng-if="item.count" class="badge">2</span>
        </a>
      </li>
      <li class="list-group-item active">
        <a href="#">
          <i class="fa fa-copy" title="My Items"></i>
          <span class="list-group-item-value">My Items</span>
        </a>
      </li>
      <div class="list-group-item-secondary hidden-sm hidden-md hidden-lg">
        <li class="list-group-item">
          <a href="#">
            <i class="fa pficon-help" title="Help"></i>
            <span class="list-group-item-value">Help</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="fa pficon-user" title="About Me"></i>
            <span class="list-group-item-value">About Me</span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="#">
            <i class="fa fa-search" title="Search"></i>
            <span class="list-group-item-value">Search</span>
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>